[Unit]
Description = PipaOS stop the boot logo
After = remote-fs.target getty.target
Wants = getty.target

[Service]
Type = simple
ExecStartPre = /bin/sleep 7
ExecStart = /usr/bin/pkill -f pngview

[Install]
WantedBy = multi-user.target
