Source: pipaos-tools
Maintainer: Albert Casals <skarbat@gmail.com>
Section: shells
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>=9.0.0)

Package: pipaos-tools
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python2.7, ifupdown
Description: Simple collection of useful tools for pipaOS

Package: pipaos-xgui
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
   fluxbox, xinit, x11-apps, xclip, xsel, lxterminal,
   xterm, xserver-xorg-video-fbturbo
Description: X Desktop metapackage based on fluxbox
